{
  "env": {
    "development": {
      "presets": [ "env", "react" ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        "transform-class-properties",
        "transform-runtime"
      ]
    },
    "test": {
      "presets": [ "env", "react" ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        "transform-class-properties",
        "transform-runtime"
      ]
    }
  }
}
